<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/sign" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username" id="username">
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" placeholder="fullname" id="fullname">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password" id="password">
        <label for="password_confirm">Confirm Password</label>
        <input type="password" name="password_confirm" placeholder="password_confirm" id="password_confirm">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>